#instructions {
	background:#E3E3E3;
	border-radius:5px;
	padding:10px;
	max-height:300px;
	overflow:auto;
	margin-bottom:30px;
}

li {
	padding-bottom:10px;
	margin-bottom:10px;
	margin-top:10px;
	border-bottom:1px solid #d3d3d3;
}

header {
	text-align: center;
	padding:30px;
}


form {
  margin:40px;
}

img {
    max-width: 100%;
    max-height: 100%;
}

p{
  margin-bottom:100px;
}



#story {
  background:lightblue;
  padding:50px;
  margin:40px;
  font-size:20px;
  font-style:italic;
}